<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/scss/main.css">
</head>

<body>
    <%- include ("../includes/banner-for-mobile") %>

        <div class="signup-form-container">
        <div class="signup-form">
            <div class="signup-header">
                <h1><span class="name">;Gb]z</span></h1>
                <!-- <div class="logo-container">
                </div> -->
                <h2>Create your account:</h2>
                <p>Please provide valid information to create your account</p>
            </div>
            <div class="signup-main">
                <form action="/signup" method="POST" name="signup-form">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="text" name="firstName" placeholder="First Name" <% if (hasErrors) { %> value="<%=oldValue.firstName%>" <% } %> class="<%= errors.find(i=>i.param==='firstName') ? 'invalid' : ' ' %>" required>
                    <input type="text" name="lastName" placeholder="lastName" <% if (hasErrors) { %> value="<%=oldValue.lastName%>" <% } %> class="<%= errors.find(i=>i.param==='lastName') ? 'invalid' : ' ' %>" required>
                    <input type="text" name="contactNumber" placeholder="Contact Number" <% if (hasErrors) { %> value="<%=oldValue.contactNumber %>" <% } %> class="<%= errors.find(i=>i.param==='contactNumber') ? 'invalid' : ' ' %>" required>
                    <input type="email" name="email" placeholder="Email" <% if (hasErrors) { %> value="<%=oldValue.email%>" <% } %> class="<%= errors.find(i=>i.param==='email') ? 'invalid' : ' ' %>" required>
                    <input type="password" name="password" id="password" placeholder="Password" <% if (hasErrors) { %> value="<%=oldValue.password%>" <% } %> class="<%= errors.find(i=>i.param==='password') ? 'invalid' : ' ' %>" required>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" <% if (hasErrors) { %> value="<%=oldValue.confirmPassword%>" <% } %> class="<%= errors.find(i=>i.param==='confirmPassword') ? 'invalid' : ' ' %>" required>
                    <button type="submit" class="btn btn-signup btn-center">Sign Up</button>
                </form>
            </div>
            <div class="signup-footer">
                <p>Do you have an account? <a href="/login">Log In</a></p>
            </div>
        </div>
    </div>
    <!-- For Error -->
    <% if(errorMessages.length>0){ %>
        <div class="bottom-alert-container">
            <% errorMessages.forEach(element=>{ %>
                <div class="alert">
                    <p class="message">
                        <%= element %>
                    </p>
                    <button class="close-btn" onclick="this.parentNode.style.display='none'">
                        X
                    </button>
                </div>

                <%})%>
        </div>
        <% } %>
</body>

</html>